@import './reset.scss';
@import './colors.scss';

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Gilroy;
    font-weight: 300;
    src: url(../fonts/Gilroy-Light.ttf);
}

@font-face {
    font-family: Gilroy;
    font-weight: 400;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy;
    font-weight: 800;
    src: url(../fonts/Gilroy-ExtraBold.ttf);
}

.text--extra-bold {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text--regular {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text--light {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

body {
    background: #fcf6e8;
}


//   HEADER


//   LOGO-MENU

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    padding: 40px 70px;
    display: flex;
    flex-direction: column;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .header__logo {
            
            .header__logo-link {
                display: flex;
                gap: 10px;
                align-items: center;

                .header__logo-text {
                    color: $black;
                    font-size: 35px;
                    letter-spacing: -0.7px;
                }
            }
        }

        .header__menu {
            cursor: pointer;
            padding: 20px 0;

            .header__menu-text {
                color: $light-black;
                font-size: 25px;
            }
        }
    }

//  NAME

    &__name {

        &-item {
            color: $light-black;
            text-align: center;
            font-size: 150px;
            text-transform: uppercase;
        }

        &-digital {
            color: $light-black;
            text-align: center;
            font-size: 150px;
            text-transform: capitalize;
        }
    }

    &__arrow-img {
        display: block;
        width: 25px;
        height: 40px;
        margin: 30px auto 0 auto;
    }
}


//  HERO


.hero {
    display: block;
    width: 100%;
    object-fit: cover;
}


//  ABOUT ME


.about-me {
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    height: auto;
    padding: 70px 0;
    border-bottom: 1px solid $light-black;

    &__description {
        width: 100%;
        padding: 0 70px;

        &-text {
            color: $light-black;
            font-size: 62px;

            &--extra-bold {
                font-weight: 800;
            }
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        background: $light-black;
        padding: 60px 70px 60px 70px;
        
        &-text {
            color: $white;
            text-align: right;
            font-size: 32px;
            line-height: 32px;
            text-transform: uppercase;
        }

        &-network {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: end;
            margin-top: 30px;
        }
    }
}


//  LIGOS


.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 70px;
    border-bottom: 1px solid $light-black;

    &__item {
        background: $white;
        display: flex;
        height: 70px;
        padding: 15px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
    }
}


//  Selected work


.selected-work {
    padding: 70px 70px 100px 70px;

    &__title {
        color: $light-black;
        text-align: center;
        font-size: 212px;
        letter-spacing: 6.48px;
        text-transform: uppercase;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 70px 40px;
        margin: 50px 0 70px 0;

        .selected-work__item {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;

            &-text {
                align-self: stretch;
                color: $black;
                font-size: 40px;
                line-height: 44px;
                text-transform: uppercase;
            }

            &-img {
                display: block;
                width: 100%;
            }

            &-links {
                display: flex;
                gap: 30px;
                margin-top: 30px;

                .selected-work__item-link--white {
                    background: $white;
                    display: flex;
                    padding: 15px 30px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 50px;
                    color: $light-black;
                    font-size: 18px;
                }

            }

            &-link--black {
                display: flex;
                padding: 10px 30px;
                align-items: center;
                gap: 10px;
                width: 163px;
                color: $white;
                font-size: 18px;
                border-radius: 50px;
                background: $light-black;
                text-transform: capitalize;
                margin-top: auto;
                margin-left: auto;
            }
        }
    }

    &__all-Work {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 188px;
        color: $light-black;
        font-size: 18px;
        padding: 15px 60px;
        border-radius: 50px;
        background: $white;
    }
}


//  our-team


.our-team {
    padding: 50px 70px;

    &__title {
        color: $light-black;
        text-align: center;
        font-size: 212px;
        letter-spacing: 8.48px;
        text-transform: uppercase;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 694px 694px;
        grid-gap: 30px 40px;

        &-item {

            height: auto;
            padding: 30px 0;

            &-list {
                display: flex;
                justify-content: end;
                margin-top: 16px;
            }
        }
    }
}



