.header {
    max-width: 1400px;
    width: 100%;
    position: absolute;
    position: fixed;
    z-index: 2;
    top: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 16px 52px;
    background-color: #10BBD5;

    .menu__logo-link {
        display: flex;
        align-items: center;

        .menu__logo--text {
            color: #F8FDFE;
            font-family: Cabin;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            padding-left: 4px;
        }
    }

    .menu__basket {
        position: relative;
        display: flex;
        align-items: center;
        height: 40px;
        gap: 8px;

        
        .menu__basket-price {
            color: $text-normal--color-white;
            font-family: Cabin;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }

        .menu__basket-btn {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #10BBD5;
        
            .menu__basket--wraper {
                display: flex;
                margin-top: 3px;
                margin-left: 3px;
                gap: 4px;
                
                .menu__basket-icon-wheel {
                    flex: none;
                    width: 9px;
                    height: 9px;
                }
                
                .menu__basket-icon-quantity {
                    position: absolute;
                    color: #000;
                    top: 12px;
                    right: 16px;
                    font-family: Cabin;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 10px;
                }
            } 
        }   
    }
}

.header__menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
    padding: 0 52px;
    background: #FFF;

    .header__menu-item-text--black {
        color: #000;
        font-family: Cabin;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .header__menu-item-list {
        display: flex;
        gap: 40px;
    }
}
