.chat__background {
    position: absolute;
    top: 500px;
    right: 20px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #10BBD5;
    position: absolute;
    position: fixed;

    
    .chat__ikon {
        display: flex;
        align-items: center;
        justify-content: center;
        content: url(/src/images/icon.svg);
        width: 52px;
        height: 52px;
    }
    
    &:hover {
        transform: rotate(20deg);
    }
}