$btn-green--color: #4D762D;
$btn-green--color-hover: #6DB236;

$btn-violet--color: #4C394E;
$btn-violet--color-hover: #744978;

$price-new--color-red: #E90000;
$price-old--color-grey: #8E8E8E;

$text--color-grey: #8E8E8E;

$border--color-grey: #A8A8A8;

$card-title--color-black: #1F1F1F;
$title--color-black: #1F1F1F;

$text-normal--color-white: #F8FDFE;

$footer__text: #F8FDFE ;
