* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.body {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/*  Header  */

.nav, .nav_left, .nav_right {
    display: flex;
    align-items: center;
    
}

.nav {
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
}

.nav_left li {
    margin-right: 44px;
}

.title {
    color: #000;
    font-family: Quicksand;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.button_wrap {
    width: 8px;
    height: 14px;
    margin-left: 8px;
}

.button_green {
    background: #0F8277;
    border: none;
    padding: 10px 12px;
    border-radius: 4px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    width: 330px;
    padding-left: 12px;
    align-items: center;
    height: 36px;
    border: 1px solid #5C5C5C;
    border-radius: 4px;
}

.search-form_text {
    width: 100%;
    border: none;
    outline: none;
    color: #5C5C5C;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
}

.search-form_btn {
    display: flex;
    border: none;
    background: #0F8277;
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #5C5C5C;
    margin-left: 12px;
}

.search-form_img {
    padding: 9px;
}

.nav_right_item {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.courses {
    margin-right: 48px;
}

.log-in {
    margin-right: 20px;
    margin-left: 80px;
    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

/*  Baner */

h1 {
    color: #000;
    font-family: Quicksand;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.baner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 600px;
    background: #DBF3ED;
    border-radius: 12px;
    margin-bottom: 80px;
}

.baner_text {
    margin-left: 100px;
}

.baner_p {
    width: 482px;
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    margin: 32px 0;
}

.baner_btn {
    margin-right: 24px;
}

.baner_photo {
    width: 530px;
    height: 530px;
    margin-right: 40px;
}