@import './colors.scss';
@import './reset.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-manrope {
    font-family: Manrope;
    font-style: normal;
    line-height: normal;
}

.text-dynaPuff {
    font-family: DynaPuff;
    font-style: normal;
    line-height: normal;
}

.container {
    width: 100%;
}

.wraper {
    max-width: 1440px;
    padding: 0 195px;
    margin: 0 auto;
}

.container-header {
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    height: 800px;
   
    .header {
        

        &__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 40px;
            height: 92px;

            &-items {
                display: flex;
                gap: 20px;
            
                .header__menu-item {
                    
                    .header__menu-link {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        padding: 10px 16px;
                        border-radius: 20px;
                        border: 1px solid #FFF;

                        .header__menu-text--white-manrope-bold {
                            color: $header-menu-text-color;
                            font-weight: 700;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .title {
            width: 846px;
            height: 192px;
        }

        &__title {
            margin-top: 394px;

            &-text {
                color: $header-title-text-color;
                font-size: 80px;
                font-weight: 700;
            }
        }
    }   
}

.container-meet {
    background: #202020;
    height: 470px;
}

.meet-content {
    margin-top: 100px;
}

.meet {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 540px;

    &__title-text--yellow {
        color: $meet-title-text-color;
        font-size: 48px;
        font-weight: 700;
    }

    &__text--white-normal {
        font-family: Manrope;
        color: $meet-text-color;
        font-weight: 500;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        gap: 96px;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;

            &-text--white-big {
                color: $meet-text-color;
                font-family: DynaPuff;
                font-size: 48px;
                font-weight: 700;
            }

            &-text--white-small {
                color: $meet-text-color;
                font-size: 16px;
                font-weight: 700;
            }
            
        }
    }
}

.container-project {
    background: #3C3C3C;
}

.groject {
    padding: 86px 0;
    
    &__banking {
        display: flex;
        width: 100%;
        padding: 24px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
        border-radius: 24px;
        background: #FFFEF2;

        .groject__banking-img {
            border-radius: 13px;
            width: 100%;
            height: 498px;
            object-fit: cover;
        }

        .groject__banking-text-title--grey {
            color: $banking-text-title-color;
            font-size: 40px;
            font-weight: 600;
        }

        .groject__banking-text--black {
            color: $banking-text--black;
            font-size: 16px;
            font-weight: 700;
            width: 580px;
        }
    }

    .groject__banking-ites {
        margin-top: 64px;
    }
    
    .banking-ites {
        display: flex;
        justify-content: space-between;

        .groject__banking-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            width: 325px;
            padding: 20px;
            border-radius: 24px;
            background: #FFFEF2;

            .groject__banking-img {
                width: 100%;
                height: 338px;
                border-radius: 13px;
                object-fit: cover;
            }

            .banking-item__text-title--grey {
                color: $banking-text-title-color;
                font-size: 24px;
                font-weight: 700;
                line-height: 38px;
            }

            .banking-item__text---black {
                color: $banking-text--black;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

.container-graphics {
    background: #202020;
}

.graphics {
    padding: 82px 0 138px 0;

    &__title-text--white {
        color: $title-text--white;
        font-size: 80px;
        font-weight: 700;
    }

    .graphics__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 26px;
        margin-top: 38px;

        &-item {
            flex-shrink: 0;
        }

        .grid-item-1 {
            position: relative;
            grid-column: 1 / 3;
            grid-row: 1 / 2;

            &::before {
                position: absolute;
                top: 50%;left: 50%;
                transform: translate(-50%, -50%);
                content: url(../images/SVG/Soft\ Star.svg);
            }

            .graphics__grid-img {
                width: 100%;
                height: 414px;
                object-fit: cover;
                border-radius: 40px;

            }
        }

        .grid-item-2 {
            position: relative;
            grid-column: 1 / 2;
            grid-row: 2 / 3;

            &::before {
                position: absolute;
                top: 50%;left: 50%;
                transform: translate(-50%, -50%);
                content: url(../images/SVG/Butterfly.svg);
            }

            .graphics__grid-img {
                width: 100%;
                max-width: 514px;
                height: 414px;
                border-radius: 40px;
                object-fit: cover;
            }
        }

        .grid-item-3 {
            position: relative;
            grid-column: 2 / 3;
            grid-row: 2 / 3;

            &::before {
                position: absolute;
                top: 50%;left: 50%;
                transform: translate(-50%, -50%);
                content: url(../images/SVG/Asterisk\ 1.svg);
            }

            .graphics__grid-img {
                width: 100%;
                height: 414px;
                border-radius: 40px;
                object-fit: cover;
            }
        }
    }
}

.container-good {
    background-image: url(../images/img/Rectangle\ 8.png);
    object-fit: cover;
}

.good {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    &__text--white {
        color: $white;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        max-width: 1055px;
    }
}

.container-footer {
    background: #202020;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding: 78px 0 30px 0;
    height: 530px;

    &__have {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 914px;
        width: 100%;
        height: 192px;
        border-radius: 139px;
        border: 1px solid var(--Gray-6, #F2F2F2);
        
        .have__img {
            margin-right: 45px;
        }

        &-text {
            display: block;
            max-width: 490px;

            &-title--white {
                color: $white;
                font-size: 48px;
                font-weight: 700;
            }

            &--white  {
                display: flex;
                align-items: center;
                color: $white;
                font-size: 24px;
                font-weight: 500;
                margin-top: 17px;

                .footer__have-arrow {
                    margin-left: 24px;
                    width: 55px;
                    height: 24px;
                }
            }
        }
    }

    &__networks-copyright {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer__networks {
            margin-bottom: 22px;
        }

        .networks {
            display: flex;
            gap: 34px;
        }

        .footer__copyright {
            color: $white;
            font-size: 16px;
            font-weight: 500;
        }
    }
}










