@import './colors.scss';
@import './reset.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-manrope {
    font-family: Manrope;
    font-style: normal;
    line-height: normal;
}

.text-dynaPuff {
    font-family: DynaPuff;
    font-style: normal;
    line-height: normal;
}

.container {
    width: 100%;
}

.wraper {
    max-width: 1440px;
    padding: 0 195px;
    margin: 0 auto;
}

.container-header {
    background: #202020;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    
    
}


.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    
    .header__logo {
        cursor: pointer;
    }

    &-items {
        display: flex;
        gap: 20px;
    
        .header__menu-item {
            
            .header__menu-link {
                display: flex;
                align-items: center;
                gap: 12px;
                padding: 10px 16px;
                border-radius: 20px;
                border: 1px solid #FFF;

                .header__menu-text--white-manrope-bold {
                    color: $header-menu-text-color;
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
    }

    .burger-menu {
        cursor: pointer;
    }
}
    
  
    
.container-title {
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
 }

.title {
    max-width: 846px;
    padding: 486px 0 120px 0;
    
    &__text {
        color: $header-title-text-color;
        font-size: 80px;
        font-weight: 700;
    }
}



.container-meet {
    background: #202020;
}

.meet {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 540px;
    padding: 102px 0;
}

.meet__title-text--yellow {
    color: $meet-title-text-color;
    font-size: 48px;
    font-weight: 700;
    width: 100%;
}

.meet__text--white-normal {
    font-family: Manrope;
    color: $meet-text-color;
    font-weight: 500;
    max-width: 540px;
}

.meet__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.meet__list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.meet__list-item-text--white-big {
    color: $meet-text-color;
    font-family: DynaPuff;
    font-size: 48px;
    font-weight: 700;
}

.meet__list-item-text--white-small {
    color: $meet-text-color;
    font-size: 16px;
    font-weight: 700;
}
      


.container-project {
    background: #3C3C3C;
}

.project {
    padding: 86px 0;
}  
.project__banking {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    border-radius: 24px;
    background: #FFFEF2;
}
.project__banking-link {
    position: relative;
    width: 100%;
}
.banking-img {
    border-radius: 13px;
    width: 100%;
    height: 498px;
    object-fit: cover;
}

.project__banking-img--arrow-up {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #FFF;
    border-radius: 50%;
    top: 11px;
    right: 11px;
    z-index: 1;
}
    

.project__banking-text-title--grey {
    color: $banking-text-title-color;
    font-size: 40px;
    font-weight: 600;
}

.project__banking-text--black {
    color: $banking-text--black;
    font-size: 16px;
    font-weight: 700;
    max-width: 580px;
}


.project__banking-items {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 64px;
}

.banking-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 325px;
    padding: 20px;
    border-radius: 24px;
    background: #FFFEF2;
}

.banking-link  {
    position: relative;
    width: 100%;
}

.project__banking-img--arrow-up {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #FFF;
    border-radius: 50%;
    top: 11px;
    right: 11px;
    z-index: 1;
}
            
.banking-item-img {
    width: 100%;
    height: 338px;
    object-fit: cover;
}
         

.banking-item__text-title--grey {
    color: $banking-text-title-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
}

.banking-item__text---black {
    color: $banking-text--black;
    font-size: 16px;
    font-weight: 500;
}
   


.container-graphics {
    background: #202020;
}

.graphics {
    padding: 82px 0 138px 0;
}

.graphics__title-text--white {
    color: $title-text--white;
    font-size: 80px;
    font-weight: 700;
}

.graphics__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 26px;
    margin-top: 38px;
}

.graphics__grid-item {
    flex-shrink: 0;
}

.grid-item-1 {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.grid-item-1::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: url(../images/SVG/Soft\ Star.png);
}

.graphics__grid-img1 {
    width: 100%;
    height: 414px;
    object-fit: cover;
    border-radius: 40px;

}
       
.grid-item-2 {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.grid-item-2::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: url(../images/SVG/Butterfly.png);   
}

.graphics__grid-img2 {
    width: 100%;
    height: 414px;
    border-radius: 40px;
    object-fit: cover;
}
        

.grid-item-3 {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.grid-item-3::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: url(../images/SVG/Asterisk\ 1.png);
}

.graphics__grid-img3 {
    width: 100%;
    height: 414px;
    border-radius: 40px;
    object-fit: cover;
}
.container-good {
    background-image: url(../images/img/Rectangle\ 8.png);
    object-fit: cover;
}

.good {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    &__text--white {
        color: $white;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        max-width: 1055px;
    }
}



.container-footer {
    background: #202020;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 78px 0 30px 0;
}

.footer__have {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 914px;
    width: 100%;
    height: 192px;
    border-radius: 139px;
    border: 1px solid  #F2F2F2;
    margin-bottom: 162px;
}

.have__img {
    margin-right: 45px;
}

.footer__have-text {
    display: block;
    max-width: 490px;
}

.footer__have-text-title--white {
    color: $white;
    font-size: 48px;
    font-weight: 700;
}

.footer__have-text--white  {
    display: flex;
    align-items: center;
    color: $white;
    font-size: 24px;
    font-weight: 500;
    margin-top: 17px;
}

.footer__have-arrow {
    margin-left: 24px;
    width: 55px;
    height: 24px;
}

.footer__networks-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__networks {
    margin-bottom: 22px;
    width: 200px;
}

.networks {
    display: flex;
    justify-content: space-between;
    
}

.footer__copyright {
    color: $white;
    font-size: 16px;
    font-weight: 500;
}









