* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    /* outline: 1px solid red; */
    padding: 0 80px;
    box-sizing: border-box;
}




.products {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 48px 20px;
    }

    &__card {
        /* outline: 1px solid green; */
        color: #2A254B;
        font-family: Montserrat;
        font-weight: 400;
    
        &-image {
            width: 100%;
            display: block;
            height: 375px;
            margin-bottom: 24px;
    
            object-fit: cover;
        }
    
        &-name {
            font-size: 20px;
            margin-bottom: 8px;
            line-height: 28px;
    
        }
    
        &-price {
            font-size: 18px;
            line-height: 27px;
        }
    }

}