.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    height: 88px;
    background-color: #4C394E;
    margin: 0 auto;
    padding: 0 52px;
}