

.header {
    position: sticky;
    top: 0;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 16px 52px;
    margin: 0 auto;
    max-width: 1400px;
    background-color: #10BBD5;

    .logo {
        color: #F8FDFE;
        font-family: Cabin;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        align-items: center;

        &::before {
            content: url(/src/images/logo_book.svg);
            width: 26px;
            height: 28px;
        }
    }

    .cart {
        height: 40px;
        gap: 8px;
        position: relative;
        display: flex;
        align-items: center;

        .card-wraper {
            display: flex;
            align-items: center;
            flex-direction: column;
        
            .cart-icon {
                display: flex;
                margin-top: 3px;
                margin-left: 3px;
                gap: 4px;
                background-color: #10BBD5;
                
                .cart-icon_number {
                    position: absolute;
                    color: #000;
                    top: 13px;
                    right: 10px;
                    font-family: Cabin;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 10px;
                }

                .cart-icon__items {
                    flex: none;
                    width: 9px;
                    height: 9px;
                }
            } 
        }   
    }
}

.header-menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    height: 32px;
    margin: 0 auto;
    padding: 0 52px;
    background: #FFF;

    .nav-menu {
        display: flex;
        gap: 40px;
    }
}
