.main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 52px;
    background-color: #EEEEEF;
}

.title {
    display: block;
    width: 100%;
    padding: 32px 0 23px 0;
    border-bottom: 1px solid $border-bottom--color-grey;

}